body {
    background: #e7e3e2;
}

.letra{
    display: flex;
    justify-content: center;
    
}
h4{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: #dd417c;
}
.nombres{
    display: flex;
    justify-content: space-evenly;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

#players{
    display: flex;
    justify-content: space-evenly;

    margin: 3em;
    

}
.player1 img {
    width: 9em;
    height: 26em;
   

}

.player2 img {
    width: 9em;
    height: 26em;

}

.player3 img {
    width: 10em;
    height: 26em;

}

.player4 img {
    width: 8em;
    height: 26em;

}

#textoPlayers{
    display: flex;
    justify-content: center;
    margin: 3em;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.start{
    width: 7em;
    height: 3em;
    background-color: #ba4568;
   position: relative;
   top: auto;
   left: 43em;
   color: #f7bdb3;
}

.segundaPantalla{
    display: none;
}