body {
    background: #f7bdb3;
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

#players{
    display: flex;
    justify-content: center;
    margin: 3em;
    

}
.player1 img {
    width: 9em;
    height: 26em;
   

}

.player2 img {
    width: 9em;
    height: 26em;

}

.player3 img {
    width: 10em;
    height: 26em;

}

.player4 img {
    width: 8em;
    height: 26em;

}

#textoPlayers{
    display: flex;
    justify-content: center;
    margin: 3em;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#fight{
    width: 1em;
    height: 1em;
}